/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
  height: 100%vh;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.hero-heading {
  text-align:center;
}

.table-content {
  position: relative;
}

#forkongithub a {
  background:#736F6E;
  color:#fff;
  text-decoration:none;
  font-family:arial,sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#forkongithub a:hover {
  background:#c11;
  color:#fff;
}

#forkongithub a::before, 
#forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after {
  bottom:1px;
  top:auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position:fixed;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
    z-index:9999;
  }

  #forkongithub a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .hero-heading {
    font-size: 2.5rem;
  }
  .single-ip {
    font-size: 2.5rem;
  }

  table {
    font-size: 1.5rem;
    border-spacing:25px;
  }

  .ip-table th {
    padding-right:18px;
  }

}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.8rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .single-ip {
    font-size: 2.8rem;
  }

  table {
    font-size: 1.5rem;
    border-spacing:25px;
  }

  .ip-table th {
    padding-right:18px;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.2rem;
  }
  .single-ip {
    font-size: 3.2rem;
  }

  table {
    font-size: 2.5rem;
  }

  .ip-table th {
    padding-right:20px;
  }

}
